.ui.borderless.container.menu {
  border: none;
  box-shadow: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ui.five.column.grid.container{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ui.container{
  text-align: center;
}

a{
  color:#1c1d1d;
}

.footer-background {
  background-color: #f5f3e9;
  color:#231f20;
  padding-top: 20px;
  padding-bottom: 20px;
}
.ui.color.button {
  background-color: #f5f3e9;
}

.centered {
  text-align: center;
}
